*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(242, 242, 242) ;
}
.header{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: #51979a;
    font-weight: bolder;
} 
.table {
    background-color: white !important;
    width: 100% !important;
    align-items: center;
    color: black;
    padding: 50px 50px !important;
}
table tbody tr:hover{
    background-color: rgb(242, 242, 242) ;
}
